$header-height: 35px;

$tablet-landscape: 1199px;
$tablet-portrait: 991px;
$phone: 767px;

$hover-bg: rgba(0, 0, 0, 0.7);
$hover: #ffffff;
$w: #ffffff;
$b: #000000;
$l: 'Lato', sans-serif;
$o: 'Open Sans', sans-serif;